
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

//font
$textFont:'Mulish', sans-serif;

//textColor
$textDark:#373F41;
$textMediumDark:#737B7D;

//backroundColor
$backgroundColor:#3C64B1;